.parent-1 {
  width: 100%;
  color: black;
  background-color: #222222;
  justify-content: flex-start;
  display: flex;
}
.section-center {
  width: 95vw;
  max-width: 1700px;
  margin: auto;
}

.Navbar {
  width: 100%;
  color: grey;
  display: flex;
  padding: 2rem 0;
}
.text1 {
  font-size: 24px;
  font-weight: 400;
  margin: auto 1.5rem auto 1.5rem;
}
.text {
  font-size: 16px;
  margin: auto 1rem auto 1rem;
}
